<form class="form-horizontal">
  <div class="form-group">
    <label for="amount">Loan Amount:</label>
    <input type="number" ng-model="amount" name="amount" id="amount">
  </div>
  <div class="form-group">
    <label for="interest">Interest Rate:</label>
    <input type="number" step="0.01" ng-model="interest" name="interest" id="interest">
  </div>
  <div class="form-group">
    <label for="period">Loan Period (in months):</label>
    <input type="number" ng-model="period" name="period" id="period">
  </div>
  <button ng-click="makeChart()">Submit</button>
</form>

<canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series">
</canvas>