$body-background: #FEFEFE;
$primary-color: #333;

$primary-font-size: 15pt;

* {
    box-sizing: border-box;
}

body, html {
    background: $body-background;
    color: $primary-color;
    font-size: $primary-font-size;
    padding: 20px;
}

#roiTxt {
    margin-top: 30px;
}
